# Exports:
export(networkAnalysis)

S3method(getWmat, psynet)
S3method(getWmat, psynetGraph)
S3method(plot, psynet)

# Imports:
importFrom(psych,"polychoric")
importFrom(psych,"tetrachoric")
importFrom(corpcor,"cor2pcor")
importFrom(corpcor,"pseudoinverse")
importFrom(parcor,"adalasso.net")
importFrom(glmnet,"glmnet")
import(bnlearn)
import(BDgraph)
import(pcalg)
import(plyr)
import(reshape2)
import(ggplot2)
importFrom(huge, "huge.npn")
importFrom(IsingFit,"IsingFit")
